@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container justify-content-center align-items-center pt-5" style="width:600px">
    <div class="row border p-5">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>A Class </h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-success" role="button" asp-controller="Zambezi" asp-action="RecordsAClass">View</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>E Class </h5>
                </div>
                <div class="card-footer">
                   <a class="btn btn-outline-success" role="button" asp-action="RecordsEClass" asp-controller="Zambezi" >View</a>
                </div>
            </div>
        </div>
    </div>
</div>